.text-center {
  text-align: center;
  margin: 40px auto 20px;
  max-width: 100%;
  text-shadow: 3px 3px 2px red, 0 0 15px cyan, 0 0 5px darkblue;
}

.container {
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0 0 10px cyan;
    align-items: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-col{
    flex-direction: column;
}

.row {
    margin-top: 4px;
}

.row input {
    padding: 8px 9px;
    box-shadow: 0 0 10px cyan;
    border-radius: 9px;
    font-size: 21px;
}

.firstRow{
    margin-bottom: 6px;
}